.container {
    padding:40px;
}

main {
    font-size: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    border-style: dashed;
}

header {
    text-align: center;
}

.questionsDefault {
    max-width: 600px;
}

.answersDefault {
    max-width: 600px;
}

.questionsDisplay {
    max-width: 600px;
    display:hidden;
}

.answersDisplay {
    max-width: 600px;
}

.confirm {
    text-align: center;
}